@model User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Style/Main.css" />
    <title>Download</title>
</head>
<body>
        <h1>Welcome To the ASCI Art Converter!</h1>
        <div>
            <h2>Download your picture</h2>
           @using (Html.BeginForm("Dowload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
           {

           }
        </div>
</body>
</html>
