@using WebBaseSoftwareProject
@model List<Image>
@{
    //Image i = Model.ElementAt(0);
    SelectList list = new SelectList(Model, "ImgId", "ImgId");
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/Style/Main.css" />
    <title>Download</title>
</head>
<body>
        <h1>Welcome To the ASCI Art Converter!</h1>
        <div>
            <h2>Download your picture</h2>
            @using (Html.BeginForm("Download", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.DropDownListFor(x => new Image().ImgId, list, "Choose...")
                @Html.HiddenFor(x => new Image().User_ID)
                <button type="submit">Download ASCII file</button>
            }
        </div>
</body>
</html>