<<<<<<< HEAD
﻿@model List<Image>
@{
    Image i = new Image();    if (Model != null && Model.Count() > 0)
    {
        i = Model.ElementAt(0);
    }
    else
    {
        i = new Image { ImgId = 1 };
    }
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Style/Main.css" />
    <title>Download</title>
</head>
<body>
        <h1>Welcome To the ASCI Art Converter!</h1>
        <div>
            <h2>Download your picture</h2>
            @using (Html.BeginForm())
            {
                @Html.DropDownListFor(x => i.ImgId, new SelectList(Model, "ImgId", "ImgId") as SelectList, "Choose...")
                <input type="submit" text="Dowload">
            }
        </div>
</body>
</html>
=======
﻿@model User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Style/Main.css" />
    <title>Download</title>
</head>
<body>
        <h1>Welcome To the ASCI Art Converter!</h1>
        <div id="links">
            <h2>Download your picture</h2>
           @using (Html.BeginForm("Dowload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
           {

           }
        </div>
</body>
</html>
>>>>>>> origin/master
