
@model User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Style/Main.css" />
    <title>Index</title>
</head>
<body>
    <div>

        <h1>Welcome To the ASCI Art Converter!</h1>
        <div id="upload">
            <h2>To upload a file please click below</h2>
            @using (Html.BeginForm())
            {
                <input type="submit" value="Upload"/>
            }
        </div>
        
         <div id="download">
             <h2>To dowload an already completed work please click here</h2>
               @using (Html.BeginForm())
            {
                <input type="submit" value="Dowload" />
            }
           </div>
        
    </div>
</body>
</html>
