@using WebBaseSoftwareProject

@model User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Style/Main.css" />
    <title>Index</title>
</head>
<body>
    <div>

        <h1>Welcome To the ASCI Art Converter!</h1>
        <div id="upload">
            <h2>To upload a file please click below</h2>
            @Html.ActionLink("Upload", "Upload", Model)
        </div>
        
         <div id="download">
             <h2>To dowload an already completed work please click here</h2>
               @Html.ActionLink("Download", "Download", Model)
           </div>
        <div id="SpaceJam">
            <img src="~/Images/SpaceJamlogoAscii.png" alt="MichealJordansBestMovie" />
        </div>
        <div id="Dwight">
            <img src="~/Images/Dwight.png" alt="DwightTheMighty"  />
        </div>
       <div id="cthulu">
           <img src="~/Images/cthulu.png" alt="The Dark One" />
       </div>
       
    </div>
</body>
</html>
