@using WebBaseSoftwareProject.Models
@model User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Style/main.css" />
    <title>LogIn</title>
</head>
<body>
    <form method="post" action="/ManInMiddle/senddata">
        <div>
            @using (Html.BeginForm())
            {
            <strong>Email:</strong> @Html.TextBoxFor(x => x.UserName) <br />
            <strong>Password:</strong> @Html.TextBoxFor(x => x.Password) <br />
            }
            <br />
            <input type="submit">
        </div>
    </form>

   
</body>
</html>
