
@model User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Style/Main.css" />
    <script>document.getElementById("txtComment").value = "";</script>
    <title>LogIn</title>
</head>
<body>
    <div id="SignBar">
@Html.ActionLink("Sign Up","SignUp")
    </div>
        <div>
            <h1>ASCI ART IMAGE CONVERTER</h1>
            @if(ViewBag.error != null)
            {
                <h2>@ViewBag.error</h2>
            }
            @using (Html.BeginForm("LogIn", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
            <strong>UserName:</strong>  <a id="textcomment">@Html.TextBoxFor(x => x.UserName) </a><br />
            <br />
            <strong>Password:</strong>  <a id="textcomment">@Html.TextBoxFor(x => x.Password, new { Type = "password" })</a> <br />
            <br />
            <input type="submit">
            }
            <img src="~/Images/java.png" alt="The Project Name" id="java" />
</div>
</body>
</html>
