@using WebBaseSoftwareProject.Models
@model User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LogIn</title>
</head>
<body>
    <form method="post" action="/ManInMiddle/senddata">
        <div>
            @using (Html.BeginForm())
            {
            <h3>Email:</h3> @Html.TextBoxFor(x => x.UserName) <br />
            <h3>Password:</h3> @Html.TextBoxFor(x => x.Password) <br />
            //hello
            }
            <br />
            <input type="submit">
        </div>
    </form>

   
</body>
</html>
