@using WebBaseSoftwareProject.Models
@model User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Style/Main.css" />
    <title>LogIn</title>
</head>
<body>
        <div>
            <h1>ASCI ART IMAGE CONVERTER</h1>
            @using (Html.BeginForm())
            {
            <strong>UserName:</strong> @Html.TextBoxFor(x => x.UserName) <br />
            <br />
            <strong>Password:</strong> @Html.TextBoxFor(x => x.Password) <br />
            <br />
            <input type="submit">
            }
            
        </div>
</body>
</html>
