
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Style/Main.css" />
    <title>Upload</title>
</head>
<body>
    <h1>Upload your files to be converted to ascii versions.</h1>
    <div> 
@using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype="multipart/form-data", id = "file" }))
{
    <h2>Upload your picture</h2>
   <strong>Upload Below</strong><br />
    <input type="file" name="file" id="file" /><br />
    <input type="submit" text="Upload" />
}
    </div>
</body>
</html>
