body{
    background: radial-gradient(circle at 130% 100%, #ffffff, #091D26) fixed;
    color: #ffffff;
}
div{
    text-align:center;
}
h1{
    text-align:center;
}
#download
{
float:left;
width:50%;
}
#upload
{
float:right;
width:50%;
}
#Failure
{
    text-align:center;
}
#Dwight
{
text-align:left;
}
#SpaceJam
{
text-align:center:
}
#cthulu
{
     text-align: right;
}