body{
    background: radial-gradient(circle at 130% 100%, #ffffff, #091D26) fixed;
    color: #ffffff;
}
div{
    text-align:center;
}
h1{
    text-align:center;
}
#dowload
{
text-align: left;
}
#upload
{
   text-align: right;
}
