body{
    background: radial-gradient(circle at 130% 100%, #ffffff, #091D26) fixed;
    color: #ffffff;
}
div{
    text-align:center;
}
h1{
    text-align:center;
}
#download
{
float:left;
width:50%;
}
#upload
{
float:right;
width:50%;
}
#Failure
{
    text-align:center;
}
#Dwight
{
    width:50%;
    float:left;
}
#SpaceJam
{
      text-align:center;
}
#cthulu
{
    width:50%;
    float:right;
}
#java
{
    width:60%;
    height:20%;
}
#SignBar
{
    float:right;
}
#TheImage
{
    font-family: monospace;
}